{% extends 'base.html' %}
{% block body %}
<div class="row">
	<div class="col-lg-12">
		<h2 style="margin-top: 0"> {{perfil.nome}} </h2>
	
		<address>
			<strong> {{ perfil.nome_empresa }}</strong><br>
			<abbr title="Telefone" >Tel: </abbr>{{perfil.telefone}}
			<a href="mailto:{{perfil.email}}">{{perfil.email}}</a>
		</address>
		{% if ja_eh_contato %}
			<p>Voces já são conectados</p>
		{% else %}
			<a href="{% url 'convidar' perfil.id %}">Convidar</a>
		{% endif %}
	</div>
</div>
{% endblock %}