{% extends "base_usuario.html" %}
{% block body %}
<form action="{% url 'registrar' %}" method="post" class="form-signin">
	<h2 class="form-signin-heading">crie seu usuario</h2>

	{%  csrf_token %}

	<input type="text" name="email" id="id_email" class="form-control" placeholder="email*" required>

	<input type="text" name="nome" id="id_nome" class="form-control" placeholder="nome*" required>

	<input type="password" name="senha" id="id_senha" class="form-control" placeholder="senha*" required>


	<input type="text" name="telefone" id="id_telefone" class="form-control" placeholder="telefone*" >

	<input type="text" name="nome_empresa" id="id_nome_empresa" class="form-control" placeholder="nome_empresa*" >

	<hr/>


	{% if form.errors %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{form.non_field_errors}}
      </div>
    {% endif %}

	<button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Registrar</button>



</form>
{% endblock %}